h1{
    font-size: 40px;
    color: rgb(235, 127, 3);
}

img{
    width: 50px;
}

a{
    text-decoration: none;
    color: #000;
}

.PrimerImagenRodrigo{
    width: 300px;
}

.EstaEsOtraClase{
    width: 500px;
}

.uno{
    color: red;
}