/* *{
    background-color: red;
} */

/* Las etiquetas de header poseen por defector un display llamado block */
h1{
    border: solid 1px orange;
    /* width: 50%; */
    display: inline-block;
    padding: 15px;
    background: black;
    color: white;
    margin-right: 30px;
}
/* display inline-block combina ambas propiedades */

h2{
    border: solid 1px purple;
    height: 200px;
    width: 200px;
    display: inline-block;
    background: orange;
    margin: 30px 10px;
    padding-left: 10px;
}

p{
    border: solid 1px brown;
    margin: 4px 76px 19px 0;
}

/* El display utilizado en la etiqueta a es llamado inline */
a{
    border: solid 1px black;
}

.seccion1{
    border: solid 1px red;
    width: 40%;
    height: 300px;
}

.seccion2{
    border: solid 1px blue;
    width: 40%;
    height: 350px;
}

.seccion3{
    border: solid 1px greenyellow;
}